*{
    box-sizing: border-box;
}
body, html{
    height: 100%;
    background-color: #749ad8;
}
.bg-img2{
    background-image: url("purple_flower.jpg");
    min-height: 400px;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 60% 100%;
    background-attachment: scroll;
    position: relative;
}
#login{
    position: absolute;
    background-color: #a2bce5;
    border: 2px solid white;
    text-align: center;
    right: 0;
    height: 100%;
    width: 40%;
    padding: 16px;
}

