*{
    box-sizing: border-box;
}
body, html{
    height: 100%;
    background-color: #749ad8;
    background-image: url("purple_flower.jpg");
}
#homepage{
    position: relative;
    margin: auto;
    border: 2px solid white;
    top: 23%;
    width: 100%;
    height: 450px;
}
.in_con{
    position: absolute;
    background-color: #a2bce5;
    text-align: center;
    font-size: 25px;
    width: 50%;
    height: 100%;
    padding: 16px;
}
#greeting{
    left: 0;
    opacity: 0.8;
    border-right: 2px solid white;
    overflow: auto;
}
#log{
    right: 0;
    overflow: auto;
}

#login{
    width: 920px;
}

input[type="text"] {
    width: 40%;
    height: 25px;
}

input[type="password"]{
    width: 40%;
    height: 25px;
}

button{
    width: 15%;
    height: 8%;
}

.error{
    color: darkred;
    border: 2px solid;
    text-align: center;
    background-color: white;
}
