* {
    box-sizing: border-box
}
body{
    background-image: linear-gradient(#8ab2f2, #b3cbf2, #e3ebf7);
    background-repeat: no-repeat;
    background-color: #e3ebf7;
}
#labels {
    position: relative;
    float: left;
    width: 20%;
    height: 100%;
    border-right: 2px solid white;
    padding-right: 20px;
    padding-left: 20px;
}
#inputs {
    position: relative;
    border-right: 2px solid white;
    float: left;
    width: 30%;
    height: 100%;
    padding-left: 35px;
    padding-right: 35px;
}
input[type=time], input[type=number], input[type=date] {
    position: absolute;
    float: left;
    width: 70%;
    height: 20px;
}
select[name=code]{
    position: absolute;
}
textarea {
    position: absolute;
    resize: none;
    height: 22px;
}
#team{
    position: relative;
    float: left;
    width: 30%;
    height: 100%;
    border-right: 2px solid white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
#submission{
    position: relative;
    float: left;
    width: 15%;
    padding-left: 50px;
    height: 100%;
}
#submit {
    float: left;
    background-color: #4CAF50;
    color: white;
    height: 50px;
}
.tab{
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 20%;
    height: 350px;
}
.tab button{
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: #ccc;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}
.tab button:hover{
    background-color: #ddd;
}
.tab button.active{
    background-color: #ccc;
}
.tabcontent{
    float: left;
    border: 1px solid #ccc;
    width: 75%;
    border-left: none;
    height: 350px;
    background-color: #a2bce5;
    position: relative;
}
#code_div {
    float: left;
    border-right: 2px solid white;
    width: 50%;
    height: 100%;
    padding-right: 10px;
    text-align: center;
}
#form_div {
    text-align: center;
    float: left;
    width: 40%;
    height: 100%;
    padding-left: 10px;
}
#code_list{
    list-style-type: none;
}
#form_input {
    text-align: center;
}
#task_list{
    padding-left: 20px;
    height: 350px;
    overflow: auto;
}
#my_info {
    text-align: center;
}


