*{
    box-sizing: border-box;
}
body{
    position: absolute;
    background-color: #8585e0;
    width: 1902px;
    height: 921px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#tracker_con{
    position: absolute;
    border: 5px solid #5d5d89;
    height: 100%;
    width: 100%;
    background-color: #ebebfa;
}

#top{
    height: 6%;
    width: 100%;
    padding-left: 10px;
    background-image: linear-gradient(white, #9999ff);
    background-repeat: no-repeat;
}

#header{
    position: absolute;
    margin: 0;
    width: 700px;
    color: #0a0a29;
}
#logout{
    position: absolute;
    width: 300px;
    height: 6%;
    right: 0;
}

#out{
    width: 50%;
    height: 99%;
    float: right;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    background-image: linear-gradient(to bottom, rgba(31,31,122,0.5) 0%, rgba(209,209,224,1) 100%);
}

#out:hover{
    opacity: 0.7;
}

#message{
    width: 100%;
    height: 10%;
    border-bottom: 1px solid black;
    overflow: auto;
}

#sidebar{
    float: left;
    border-right: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 15%;
    height: 84%;
}

.tab{
    height: 35%;
}
.tab button{
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}
.tab button:hover{
    background-color: #ddd;
}
.tab button.active{
    background-color: #ccc;
}

#info{
    padding: 10px;
}

#right_con{
    float: right;
    width: 85%;
    height: 84%;
    background-color: white;
    opacity: 0.7;
}

.tabcontent{
    width: 100%;
    height: 100%;
    padding: 20px;
}

#row1{
    border: 1px solid lightgrey;
    height: 30%;
}

#col_1{
    float: left;
    width: 25%;
}

#col_2{
    float: left;
    width: 25%;
}

#col_3{
    float: left;
}

select{
    padding-right: 10px;
}







/*
#inputs {
    position: relative;
    border-right: 2px solid white;
    float: left;
    width: 50%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
#column1 {
    position: relative;
    float: left;
    width: 40%;
    height: 100%;
    padding-right: 20px;
}
#column2 {
    position: relative;
    border-left: 2px solid white;
    padding-left: 20px;
    float: left;
    width: 58%;
    height: 100%;
    text-align: center;
}
label {
    position: relative;
    margin: auto;
}
input[type=time], input[type=number] {
    position: relative;
    margin:auto;
    width: 50%;
    height: 20px;
}
input[type=date] {
    position: relative;
    margin:auto;
    width:60%;
    height: 20px;
}
select[name=code], select[name=subcode]{
    position: absolute;
    width: 90%;
}
textarea {
    position: relative;
    resize: none;
    height: 22px;
}
#optional{
    position: relative;
    float: left;
    width: 30%;
    height: 100%;
    text-align: center;
    border-right: 2px solid white;
}
#sub_div{
    position: relative;
    float: left;
    height: 100%;
    width: 20%;
    padding: 10px;
}
#sub_div button{
    width: 100%;
    height: 100%;
}


#code_div {
    float: left;
    border-right: 2px solid white;
    width: 50%;
    height: 100%;
    padding-right: 10px;
    text-align: center;
}
#form_div {
    text-align: center;
    float: left;
    width: 40%;
    height: 100%;
    padding-left: 10px;
}
#code_list{
    list-style-type: none;
}
#form_input {
    text-align: center;
}
#task_list{
    padding-left: 20px;
    height: 360px;
    overflow: auto;
}
#search_form{
    float: left;
    width: 35%;
    height: 100%;
}
#tasks{
    float: left;
    background-color: #d9e6f2;
    width: 65%;
    padding-left: 30px;
}
#options {
    position: relative;
    float: left;
    padding-left: 20px;
    width: 40%;
    height: 100%;
}
#chart {
    position: relative;
    float: right;
    width: 60%;
    height: 100%;
}

