* {
    box-sizing: border-box
}
body{
    background-image: linear-gradient(#8ab2f2, #b3cbf2, #e3ebf7);
    background-repeat: no-repeat;
    background-color: #e3ebf7;
}
#inputs {
    position: relative;
    border-right: 2px solid white;
    float: left;
    width: 50%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
#column1 {
    position: relative;
    float: left;
    width: 40%;
    height: 100%;
    padding-right: 20px;
}
#column2 {
    position: relative;
    border-left: 2px solid white;
    padding-left: 20px;
    float: left;
    width: 58%;
    height: 100%;
    text-align: center;
}
label {
    position: relative;
    margin: auto;
}
input[type=time], input[type=number] {
    position: relative;
    margin:auto;
    width: 50%;
    height: 20px;
}
input[type=date] {
    position: relative;
    margin:auto;
    width:60%;
    height: 20px;
}
select[name=code], select[name=subcode]{
    position: absolute;
    width: 90%;
}
textarea {
    position: relative;
    resize: none;
    height: 22px;
}
#optional{
    position: relative;
    float: left;
    width: 30%;
    height: 100%;
    text-align: center;
    border-right: 2px solid white;
}
#sub_div{
    position: relative;
    float: left;
    height: 100%;
    width: 20%;
    padding: 10px;
}
#sub_div button{
    width: 100%;
    height: 100%;
}
.tab{
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 20%;
    height: 360px;
}
.tab button{
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: #ccc;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}
.tab button:hover{
    background-color: #ddd;
}
.tab button.active{
    background-color: #ccc;
}
.tabcontent{
    float: left;
    border: 1px solid #ccc;
    width: 75%;
    border-left: none;
    height: 360px;
    background-color: #a2bce5;
    position: relative;
}
#code_div {
    float: left;
    border-right: 2px solid white;
    width: 50%;
    height: 100%;
    padding-right: 10px;
    text-align: center;
}
#form_div {
    text-align: center;
    float: left;
    width: 40%;
    height: 100%;
    padding-left: 10px;
}
#code_list{
    list-style-type: none;
}
#form_input {
    text-align: center;
}
#task_list{
    padding-left: 20px;
    height: 360px;
    overflow: auto;
}
#search_form{
    float: left;
    width: 35%;
    height: 100%;
}
#tasks{
    float: left;
    background-color: #d9e6f2;
    width: 65%;
    padding-left: 30px;
}
#options {
    position: relative;
    float: left;
    padding-left: 20px;
    width: 40%;
    height: 100%;
}
#chart {
    position: relative;
    float: right;
    width: 60%;
    height: 100%;
}

