<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Time Tracker</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'tracker/tracker.css' %}">
    <form id="logout" method="post" action="{% url 'tracker:results' user %}">
        {% csrf_token %}
        <button type="submit" name="action" value="previous" style="float:right">Logout</button>
    </form>
</head>
<body>
     <h2 id="header">Welcome {{ user }}</h2>
     {% if messages %}
     <ul class="messages">
         {% for message in messages %}
         <li class="{{ message.tags }}" >{{ message }}</li>
         {% endfor %}
     </ul>
     {% endif %}

     <datalist id="code_options">
         {% for code in codes %}
        <option value="{{ code.Description }}"></option>
         {% endfor %}
     </datalist>

     <div class="tab">
         <button class="tablinks" id="defaultOpen" onclick="openTab(event, 'form1')">Time Form</button>
         <button class="tablinks" onclick="openTab(event, 'task_list')">Performed Tasks</button>
         <button class="tablinks" onclick="openTab(event, 'work_codes')">Work Codes</button>
         <button class="tablinks" onclick="openTab(event, 'my_info')">My Info</button>
     </div>

     <div id="form1" class="tabcontent">
            <form action="{% url 'tracker:results' user %}" method="post" id="time_form">
                {% csrf_token %}
                <br>
                <div id="labels">
                    <label style="color:#0d3473">Work Code</label><br><br>
                    <label style="color:#0d3473">Description</label><br><br><br>
                    <label style="color:#0d3473">Date</label><br><br>
                    <label style="color:#175dcf">Hours</label><br><br>
                    <label style="color:#175dcf">Minutes</label><br><br>
                    OR
                    <br>
                    <br>
                    <label style="color:#175dcf">Time Start</label><br><br>
                    <label style="color:#175dcf">Time End</label><br>
                </div>
                <div id="inputs">
                    <select name="code" required>
                         {% for code in codes %}
                            <option value="{{ code.Description }}">{{ code.Description }}</option>
                         {% endfor %}
                    </select><br><br>
                    <textarea name="task" required autocomplete="off" placeholder="Description" style="border:1px#0d3473"></textarea><br><br><br>
                    <input type="date" name="date" required style="border:1px#0d3473"><br><br>
                    <input type="number" name="hours" value="0" max="10"><br><br>
                    <input type="number" name="minutes" value="0" max="45" step="15" min="0"><br><br>
                    <br>
                    <br>
                    <input type="time" name="start"><br><br>
                    <input type="time" name="end"><br>
                </div>
                <div id="team">
                    <h2>Was it a Team Effort?</h2><br><br>
                        Team Member 1: <input type="text" value="none" name="team1"><br><br>
                        Team Member 2: <input type="text" value="none" name="team2"><br><br>
                        Team Member 3: <input type="text" value="none" name="team3"><br>
                    <br><br><br><br><br>
                </div>
                <button id="submit" type="submit" name="action" value="submission">Submit</button>
                <br>
                <br>
            </form><br>
     </div>

     <div id="task_list" class="tabcontent">
        <div id="tasks">
            <h2>You've Been Working On:</h2>
            <ul>
                {% for entry in user_obj.workhour_set.all %}
                    <li><a href="{% url 'tracker:tasks' user entry.Work_Code %}">{{ entry.Work_Code }}</a></li>
                {% endfor %}
            </ul>
        </div>
     </div>

     <div id="my_info" class="tabcontent">
         <h2> Username: {{ user_obj.Username }}</h2>
         <h2>First Name: {{ user_obj.First_Name }}</h2>
         <h2>Last Name: {{ user_obj.Last_Name }}</h2>
         <h2>Department: {{ user_obj.Job_Title }}</h2>
     </div>

     <div id="work_codes" class="tabcontent">
         <div id="code_div">
             <h2>Current Codes</h2>
             <script>
                 var div = document.getElementById("code_div");
                 for(i=0; i < document.getElementById("code_options").options.length; i++){
                     var lst = document.createElement("P");
                     var t = document.createTextNode(document.getElementById("code_options").options[i].value)
                     lst.appendChild(t);
                     div.appendChild(lst);
                 };
             </script>
         </div>
         <div id="form_div">
             <form action="{% url 'tracker:codes' user %}" method="post" id="code_form">
                 {% csrf_token %}
                 <h2>New Code: </h2>
                 <input type="text" name="new_code" required autocomplete="off"><br><br>
                 <label>Billable: </label><input type="checkbox" name="bill"><br><br>
                 <button type="submit" name="action" value="code">Submit</button>
                 <br>
                 <br>
             </form>
         </div>
     </div>

     <script>
         function openTab(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
        document.getElementById("defaultOpen").click();

     </script>
</body>
</html>
