<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Tasks</title>
    <form id="logout" method="post" action="{% url 'tracker:tasks' user task %}">
        {% csrf_token %}
        <button type="submit" name="action" value="previous" style="float:right">Logout</button> <button type="submit" name="action" value="home" style="float:right">Account</button>
    </form>
    <style>
    #header{
        text-align: center;
        }
    #list{
        margin: auto;
        border: 2px solid white;
        width: 50%;
        }
        body{
            background-image: linear-gradient(#8ab2f2, #b3cbf2, #e3ebf7);
            background-repeat: no-repeat;
            background-color: #e3ebf7;
        }
    </style>
</head>
<body>
    <div id="header">
        <h1> Who's Been working on {{ task }}</h1>
    </div>
    <div id="list">
        <ul>
            {% for entry in tasks %}
                <li>{{ entry.performed_by }}</li>
                    <ul>
                        {% for time in entry.time_set.all %}
                            <li>{{ time.time_hours }} Hours and {{ time.time_minutes }} Minutes, {{ time.date_performed }}</li>
                        {% endfor %}
                    </ul>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
