<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Tasks</title>
</head>
<body>
    <h1> Who's Been working on {{ task }}</h1>
    <ul>
        {% for entry in tasks %}
            <li>{{ entry.performed_by }}</li>
                <ul>
                    {% for time in entry.time_set.all %}
                        <li>{{ time.time_hours }} Hours and {{ time.time_minutes }} Minutes</li>
                        <li>{{ time.date_performed }}</li>
                    {% endfor %}
                </ul>
        {% endfor %}
    </ul>
</body>
</html>
